{% extends "_includes/default.njk" %}

{% block title %}Nuno's Site :: Home{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center bg-gray-900">
    <div>
      <div class="mt-8" x-data="{message:'🤖 Hello World 🤓'}" x-text="message"></div>
    </div>
  </div>
{% endblock %}
