<div class="flex w-full flex-col">
  <.site_header active_link={@active_link} />

  <main id="main" class="relative wrapper text-txt-1-light">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
