<.site_header current_user={@current_user} active_link={@active_link} />

<main
id="main"
  class="relative w-full mx-auto max-w-5xl px-4 sm:px-16 lg:px-20 mt-16 sm:mt-20 transition-all duration-500 opacity-0 phx-page-loading:opacity-0"
phx-mounted={JS.remove_class("opacity-0")}
>
  <.flash_group flash={@flash} />
  {@inner_content}
</main>

<AppWeb.LiveComponents.finder show={@show_finder} />
