@layer base {
  :root {
    color-scheme: light dark;

    --header-position: sticky;
    --header-height: 64px;
    --header-mb: 0px;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    width: 100%;
    background-color: var(--color-surface);
    color: var(--color-content-10);
    line-height: 1.5;

    @media print {
      background-color: white;
    }
  }

  /* Make LiveView wrapper divs transparent for layout */
  [data-phx-session] {
    display: contents;
  }

  ::selection {
    background-color: --alpha(var(--color-secondary) / 0.2);
  }

  a {
    &:focus-visible {
      outline: 1px dashed var(--color-primary);
      outline-offset: 2px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headings);
  }

  s {
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
  }

  dialog {
    position: fixed;
    inset: 0;
    display: grid;
    align-content: start;
    margin: auto;
    padding: 0;
    overflow: hidden;
    z-index: 1000000;
  }

  dialog:not([open]) {
    pointer-events: none;
  }

  /* Disable dialog body scroll */
  html:has(dialog:open) {
    overflow: hidden;
  }

  html[data-dialog-open] body {
    overflow: hidden;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slide-in-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-down {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

/* View Transitions */

/* Basic view transition styles */
/* ::view-transition-group(root) {
  animation-duration: 250ms;
} */

/* Disable animations when theme is transitioning */
/* :root[data-theme-transitioning]::view-transition-group(root) {
  animation: none;
} */

/* Exclude Finder from page view transitions */
/* :active-view-transition-type(page) #finder-dialog {
  view-transition-name: finder-dialog;
} */

/* ::view-transition-group(finder-dialog),
::view-transition-old(finder-dialog),
::view-transition-new(finder-dialog) {
  animation: none;
} */

/* @media screen and (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
    types: page;
  }
} */
