@layer base {
  :root {
    color-scheme: light dark;

    --header-position: sticky;
    --header-height: 64px;
    --header-mb: 0px;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    width: 100%;
    background-color: var(--color-surface);
    color: var(--color-content-10);
    line-height: 1.5;

    @media print {
      background-color: white;
    }
  }

  /* Make LiveView wrapper divs transparent for layout */
  [data-phx-session] {
    display: contents;
  }

  ::selection {
    background-color: --alpha(var(--color-secondary) / 0.2);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headings);
  }

  s {
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
  }

  dialog {
    border: none;
    margin: auto;
    outline: none;
    opacity: 0;
    background-color: transparent;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, overlay;
    transition-behavior: allow-discrete;
  }

  /* Disable dialog body scroll */
  html:has(dialog:open) {
    overflow: hidden;
  }

  dialog::backdrop {
    background-color: transparent;
    backdrop-filter: blur(1px);
    transition:
      overlay 0.2s allow-discrete,
      background-color 0.2s;
  }

  dialog:open {
    opacity: 1;
  }

  @starting-style {
    dialog:open {
      opacity: 0;
    }
  }

  dialog:open::backdrop {
    background-color: --alpha(var(--color-neutral-900) / 0.6);
  }

  @starting-style {
    dialog:open::backdrop {
      background-color: transparent;
    }
  }

  @variant dark {
    dialog:open::backdrop {
      background-color: --alpha(var(--color-neutral-800) / 0.8);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes circle-in {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(100% at 50% 50%);
    }
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}
