@layer base {
  :root {
    color-scheme: light dark;

    --header-position: sticky;
    --header-height: 64px;
    --header-mb: 0px;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    width: 100%;
    background-color: var(--color-surface);
    color: var(--color-content-10);
    line-height: 1.5;

    @media print {
      background-color: white;
    }
  }

  /* Make LiveView wrapper divs transparent for layout */
  [data-phx-session] {
    display: contents;
  }

  ::selection {
    background-color: --alpha(var(--color-secondary) / 0.2);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headings);
  }

  s {
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
  }

  dialog:not([open]) {
    pointer-events: none;
  }

  /* Disable dialog body scroll */
  html:has(dialog:open) {
    overflow: hidden;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}
