@layer base {
  .profile-picture {
    position: relative;
    max-width: 232px;

    @variant md {
      max-width: 280px;
    }

    &::before {
      content: '';
      position: absolute;
      inset: -0.325rem;
      border: 0.1rem solid var(--color-content-40);
      border-radius: 100%;
      background: repeating-linear-gradient(
        45deg,
        var(--color-content-40),
        var(--color-content-40) 0.1rem,
        transparent 0,
        transparent 0.725rem
      );
      z-index: -1;
    }

    & img {
      border-radius: 100%;
      box-shadow: var(--shadow-lg);
    }
  }
}
