@layer base {
  /* Page Components */

  .profile-picture {
    position: relative;
    max-width: 232px;

    @variant md {
      max-width: 280px;
    }

    &::before {
      content: '';
      position: absolute;
      inset: -0.325rem;
      border: 0.1rem solid --alpha(var(--color-content-40) / 0.5);
      border-radius: 100%;
      background: repeating-linear-gradient(
        45deg,
        --alpha(var(--color-content-40) / 0.5),
        --alpha(var(--color-content-40) / 0.5) 0.1rem,
        transparent 0,
        transparent 0.725rem
      );
      z-index: -1;
    }

    & img {
      border-radius: 100%;
      box-shadow: var(--shadow-lg);
    }
  }

  .featured-article {
    --bg-opacity: 5%;

    position: relative;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    padding: 1rem;
    border: 1px solid var(--color-surface-30);
    border-radius: var(--radius-box);
    box-shadow: var(--shadow-xs);
    background-color: --alpha(var(--color-surface-20) / 0.3);
    transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out,
      box-shadow 150ms ease-in-out;

    &:hover {
      border-color: var(--color-primary);
      background-image: linear-gradient(
        30deg,
        --alpha(var(--color-primary) / var(--bg-opacity)),
        transparent
      );
      box-shadow: var(--shadow-sm);
    }

    &::before {
      content: '';
      position: absolute;
      inset: 3px;
      border-radius: calc(var(--radius-box) - 2px);
      background-image: repeating-linear-gradient(
        135deg,
        var(--color-primary),
        var(--color-primary) 1px,
        transparent 1px,
        transparent 6px
      );
      mask-image: linear-gradient(to left top, black, transparent 70%),
        linear-gradient(45deg, black, transparent 85%);
      mask-composite: intersect;
      filter: grayscale(100%);
      transition: filter opacity 150ms ease-in-out;
      opacity: 0.2;
      z-index: -1;
    }

    &:hover::before {
      filter: none;
      opacity: 0.6;
    }
  }
}
