:root {
  --neutral: oklch(0.56 0 0);
  --primary: oklch(0.58 0.175 23);
  --secondary: oklch(0.53 0.13 215);
  --info: oklch(0.64 0.143 232);
  --success: oklch(0.66 0.14 182);
  --warning: oklch(0.74 0.188 70);
  --danger: oklch(0.55 0.253 17);

  --border-size: 1px;
  --border-radius: 0.625rem;
}

@theme {
  --font-sans:
    'Inter', 'Segoe UI', 'Noto Sans', Helvetica, Arial, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-headings: 'Montserrat', Georgia, Cambria, 'Times New Roman', Times, ui-serif, serif;

  --animate-fade-in: fade-in 0.5s ease-out forwards;
  --animate-fade-out: fade-out 0.5s ease-out forwards;
  --animate-slide-in-up: slide-in-up 0.3s ease-out forwards;
  --animate-slide-out-down: slide-out-down 0.2s ease-in forwards;
  --animate-blink: blink 1s ease-in-out infinite;
  --animate-glitch: glitch 1s ease-in-out infinite;

  --radius-xs: calc(var(--border-radius) - 6px);
  --radius-sm: calc(var(--border-radius) - 4px);
  --radius-md: calc(var(--border-radius) - 2px);
  --radius-lg: var(--border-radius);
  --radius-xl: calc(var(--border-radius) + 4px);
  --radius-2xl: calc(var(--border-radius) + 8px);
  --radius-3xl: calc(var(--border-radius) + 16px);
  --radius-4xl: calc(var(--border-radius) + 24px);

  --shadow-drop: 3px 3px 0 --alpha(var(--color-neutral-500) / 0.15);

  --color-neutral-*: initial;
  --color-neutral: var(--neutral);
  --color-neutral-50: oklch(from var(--neutral) 0.985 calc(c * 0.05) calc(h * 0.96));
  --color-neutral-100: oklch(from var(--neutral) 0.97 calc(c * 0.15) calc(h * 0.965));
  --color-neutral-200: oklch(from var(--neutral) 0.93 calc(c * 0.3) calc(h * 0.97));
  --color-neutral-300: oklch(from var(--neutral) 0.87 calc(c * 0.5) calc(h * 0.98));
  --color-neutral-400: oklch(from var(--neutral) 0.7 calc(c * 0.9) calc(h * 0.998));
  --color-neutral-500: var(--neutral);
  --color-neutral-600: oklch(from var(--neutral) 0.45 calc(c * 0.95) calc(h * 1.01));
  --color-neutral-700: oklch(from var(--neutral) 0.37 calc(c * 0.94) calc(h * 1.02));
  --color-neutral-800: oklch(from var(--neutral) 0.28 calc(c * 0.935) calc(h * 1.03));
  --color-neutral-900: oklch(from var(--neutral) 0.21 calc(c * 0.93) calc(h * 1.04));
  --color-neutral-950: oklch(from var(--neutral) 0.14 calc(c * 0.92) calc(h * 1.05));

  --color-surface: oklch(from var(--neutral) 0.97 calc(c * 0.2) h);
  --color-surface-10: oklch(from var(--neutral) 0.985 calc(c * 0.4) h);
  --color-surface-20: oklch(from var(--neutral) 0.945 calc(c * 0.5) h);
  --color-surface-30: oklch(from var(--neutral) 0.91 calc(c * 0.6) h);
  --color-surface-40: oklch(from var(--neutral) 0.87 calc(c * 0.8) h);

  --color-content: oklch(from var(--neutral) 0.24 0.01 h);
  --color-content-10: oklch(from var(--neutral) 0.35 0.01 h);
  --color-content-20: oklch(from var(--neutral) 0.41 0 h);
  --color-content-30: oklch(from var(--neutral) 0.46 0 h);
  --color-content-40: oklch(from var(--neutral) 0.53 0 h);

  --color-border: var(--color-neutral-300);
  --color-ring: var(--color-primary);

  --color-primary: var(--primary);
  --color-primary-contrast: oklch(from var(--primary) 0.99 4% h);

  --color-secondary: var(--secondary);
  --color-secondary-contrast: oklch(from var(--secondary) 0.99 4% h);

  --color-info: var(--info);
  --color-info-contrast: oklch(from var(--info) 0.24 8% h);

  --color-success: var(--success);
  --color-success-contrast: oklch(from var(--color-success) 0.24 8% h);

  --color-warning: var(--warning);
  --color-warning-contrast: oklch(from var(--warning) 0.24 16% h);

  --color-danger: var(--danger);
  --color-danger-contrast: oklch(from var(--danger) 0.98 4% h);
}

@layer base {
  [data-theme='dark'] {
    --color-surface: oklch(from var(--neutral) 0.1525 calc(c * 0.2) h);
    --color-surface-10: oklch(from var(--neutral) 0.17 calc(c * 0.4) h);
    --color-surface-20: oklch(from var(--neutral) 0.19 calc(c * 0.5) h);
    --color-surface-30: oklch(from var(--neutral) 0.24 calc(c * 0.6) h);
    --color-surface-40: oklch(from var(--neutral) 0.28 calc(c * 0.8) h);

    --color-content: oklch(from var(--neutral) 0.89 0.01 h);
    --color-content-10: oklch(from var(--neutral) 0.82 0.01 h);
    --color-content-20: oklch(from var(--neutral) 0.73 0 h);
    --color-content-30: oklch(from var(--neutral) 0.66 0 h);
    --color-content-40: oklch(from var(--neutral) 0.59 0 h);

    --color-border: var(--color-neutral-800);
  }
}
