/* Theming */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark-hover (&:where([data-theme=dark], [data-theme=dark] *):hover:not(:disabled));

/* Typography */
@theme {
  --font-sans: 'Inter', 'Segoe UI', 'Noto Sans', Helvetica, Arial, ui-sans-serif, system-ui,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-headings: 'Montserrat', Georgia, Cambria, 'Times New Roman', Times, ui-serif, serif;
}

/* Colors */
@theme {
  --neutral-base: var(--color-zinc-500);

  /* Surface */
  --color-surface-10: oklch(0.985 0 0);
  --color-surface-20: oklch(0.96 0 0);
  --color-surface-30: oklch(0.93 0 0);
  --color-surface-40: oklch(0.88 0 0);

  /* Content */
  --color-content-10: oklch(from var(--neutral-base) 0.28 0 h);
  --color-content-20: oklch(from var(--neutral-base) 0.38 0 h);
  --color-content-30: oklch(from var(--neutral-base) 0.44 0 h);
  --color-content-40: oklch(from var(--neutral-base) 0.54 0 h);

  /* Gray (Neutral) */
  --color-gray-*: initial;
  --color-gray: var(--neutral-base);
  --color-gray-50: oklch(from var(--color-gray) 0.985 calc(c * 0.05) calc(h * 0.96));
  --color-gray-100: oklch(from var(--color-gray) 0.97 calc(c * 0.15) calc(h * 0.965));
  --color-gray-200: oklch(from var(--color-gray) 0.93 calc(c * 0.3) calc(h * 0.97));
  --color-gray-300: oklch(from var(--color-gray) 0.87 calc(c * 0.5) calc(h * 0.98));
  --color-gray-400: oklch(from var(--color-gray) 0.7 calc(c * 0.9) calc(h * 0.998));
  --color-gray-500: var(--color-gray);
  --color-gray-600: oklch(from var(--color-gray) 0.45 calc(c * 0.95) calc(h * 1.01));
  --color-gray-700: oklch(from var(--color-gray) 0.37 calc(c * 0.94) calc(h * 1.02));
  --color-gray-800: oklch(from var(--color-gray) 0.28 calc(c * 0.935) calc(h * 1.03));
  --color-gray-900: oklch(from var(--color-gray) 0.2 calc(c * 0.93) calc(h * 1.04));
  --color-gray-950: oklch(from var(--color-gray) 0.13 calc(c * 0.92) calc(h * 1.05));

  /* Primary */
  --color-primary: oklch(0.62 0.17 23);
  --color-primary-light: oklch(from var(--color-primary) calc(l * 1.15) calc(c * 0.9) h);
  --color-primary-lighter: oklch(from var(--color-primary) calc(l * 1.35) calc(c * 0.5) h);
  --color-primary-dark: oklch(from var(--color-primary) calc(l * 0.86) calc(c * 0.9) h);
  --color-primary-darker: oklch(from var(--color-primary) calc(l * 0.7) calc(c * 0.75) h);
  --color-primary-contrast: oklch(from var(--color-primary) 99% 1% h);

  /* Secondary */
  --color-secondary: oklch(from var(--color-primary) l c calc(h + 180));
  --color-secondary-light: oklch(from var(--color-secondary) calc(l * 1.15) calc(c * 0.9) h);
  --color-secondary-lighter: oklch(from var(--color-secondary) calc(l * 1.35) calc(c * 0.5) h);
  --color-secondary-dark: oklch(from var(--color-secondary) calc(l * 0.85) calc(c * 0.9) h);
  --color-secondary-darker: oklch(from var(--color-secondary) calc(l * 0.7) calc(c * 0.75) h);
  --color-secondary-contrast: oklch(from var(--color-secondary) 99% 1% h);

  /* Info Intent */
  --color-info: oklch(0.72 0.143 215.221);
  --color-info-light: oklch(from var(--color-info) calc(l * 1.15) calc(c * 0.9) h);
  --color-info-lighter: oklch(from var(--color-info) calc(l * 1.35) calc(c * 0.5) h);
  --color-info-dark: oklch(from var(--color-info) calc(l * 0.85) calc(c * 0.9) h);
  --color-info-darker: oklch(from var(--color-info) calc(l * 0.7) calc(c * 0.75) h);
  --color-info-contrast: oklch(from var(--color-info) 99% 1% h);

  /* Success Intent */
  --color-success: oklch(0.7 0.14 182.503);
  --color-success-light: oklch(from var(--color-success) calc(l * 1.15) calc(c * 0.9) h);
  --color-success-lighter: oklch(from var(--color-success) calc(l * 1.35) calc(c * 0.5) h);
  --color-success-dark: oklch(from var(--color-success) calc(l * 0.85) calc(c * 0.9) h);
  --color-success-darker: oklch(from var(--color-success) calc(l * 0.7) calc(c * 0.75) h);
  --color-success-contrast: oklch(from var(--color-success) 99% 1% h);

  /* Warning Intent */
  --color-warning: oklch(0.77 0.188 70.08);
  --color-warning-light: oklch(from var(--color-warning) calc(l * 1.15) calc(c * 0.9) h);
  --color-warning-lighter: oklch(from var(--color-warning) calc(l * 1.35) calc(c * 0.5) h);
  --color-warning-dark: oklch(from var(--color-warning) calc(l * 0.85) calc(c * 0.9) h);
  --color-warning-darker: oklch(from var(--color-warning) calc(l * 0.7) calc(c * 0.75) h);
  --color-warning-contrast: oklch(from var(--color-warning) 99% 1% h);

  /* Danger Intent */
  --color-danger: oklch(0.55 0.253 17.585);
  --color-danger-light: oklch(from var(--color-danger) calc(l * 1.15) calc(c * 0.9) h);
  --color-danger-lighter: oklch(from var(--color-danger) calc(l * 1.35) calc(c * 0.5) h);
  --color-danger-dark: oklch(from var(--color-danger) calc(l * 0.85) calc(c * 0.9) h);
  --color-danger-darker: oklch(from var(--color-danger) calc(l * 0.7) calc(c * 0.75) h);
  --color-danger-contrast: oklch(from var(--color-danger) 99% 1% h);
}

/* Elements */
@theme inline {
  --border: 1px;
  --shadow-box: var(--shadow-sm);
  --shadow-field: var(--shadow-xs);
  --radius-field: 0.5rem;
  --radius-selector: 0.25rem;
  --radius-box: 0.5rem;
  /* --size-field: 0.21875rem; */
  /* --size-selector: 0.21875rem; */

  /* Button */
  --btn-shadow: var(--shadow-box);
  --btn-radius: var(--radius-field);
  --btn-border: var(--border);

  /* Badge */
  --badge-radius: 9999px;
}

/* Dark Theme */
@layer base {
  [data-theme='dark'] {
    --color-surface-10: oklch(from var(--neutral-base) 0.18 0.005 h);
    --color-surface-20: oklch(from var(--neutral-base) 0.22 0.006 h);
    --color-surface-30: oklch(from var(--neutral-base) 0.28 0.006 h);
    --color-surface-40: oklch(from var(--neutral-base) 0.36 0.004 h);

    --color-content-10: oklch(from var(--neutral-base) 0.86 0.001 h);
    --color-content-20: oklch(from var(--neutral-base) 0.76 0 h);
    --color-content-30: oklch(from var(--neutral-base) 0.69 0 h);
    --color-content-40: oklch(from var(--neutral-base) 0.62 0 h);
  }
}
