/* Colors */

@utility text-tint-* {
  color: color-mix(in oklch, --value(--color-*, [*]), white calc(--modifier(integer) * 1%));
}

@utility text-shade-* {
  color: color-mix(in oklch, --value(--color-*, [*]), black calc(--modifier(integer) * 1%));
}

@utility bg-tint-* {
  background-color: color-mix(
    in oklch,
    --value(--color-*, [*]),
    white calc(--modifier(integer) * 1%)
  );
}

@utility bg-shade-* {
  background-color: color-mix(
    in oklch,
    --value(--color-*, [*]),
    black calc(--modifier(integer) * 1%)
  );
}

@utility border-tint-* {
  border-color: color-mix(in oklch, --value(--color-*, [*]), white calc(--modifier(integer) * 1%));
}

@utility border-shade-* {
  border-color: color-mix(in oklch, --value(--color-*, [*]), black calc(--modifier(integer) * 1%));
}

@utility corner-squircle {
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
  }
}

/* Patterns */

@utility bg-dots {
  background:
    linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
    linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
    --alpha(var(--color-content-40) / 0.2);
  background-size: 16px 16px;

  @variant dark {
    background:
      linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
      linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
      --alpha(var(--color-content-40) / 0.12);
    background-size: 16px 16px;
  }
}

@utility bg-dots-fade {
  background:
    linear-gradient(to bottom, transparent 0%, transparent 20%, var(--color-surface) 40%),
    linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
    linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
    --alpha(var(--color-content-40) / 0.2);
  background-size:
    100% 100%,
    16px 16px,
    16px 16px,
    16px 16px;

  @variant dark {
    background:
      linear-gradient(to bottom, transparent 0%, transparent 20%, var(--color-surface) 40%),
      linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
      linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
      --alpha(var(--color-content-40) / 0.12);
    background-size:
      100% 100%,
      16px 16px,
      16px 16px,
      16px 16px;
  }
}

/* Layout */

@utility scroll-header {
  scroll-margin-block: calc(var(--header-height) + 2rem);
}

@utility wrapper {
  @apply mx-auto w-screen px-5 not-print:container not-print:max-w-5xl sm:px-20 lg:px-24;
}

@utility wide-wrapper {
  @apply mx-auto px-5 not-print:container sm:px-20 lg:px-24;
}

@utility full-wrapper {
  @apply mx-auto w-full px-5 sm:px-20 lg:px-24;
}

@utility breakout {
  @apply relative right-1/2 left-1/2 -mr-[50vw] -ml-[50vw] w-screen;
}

/* Links */

@utility link {
  @apply text-content-10 decoration-primary hover:decoration-content-30 hover:bg-surface-40/40 underline decoration-[1.5px] underline-offset-3 transition-colors;
}

@utility link-subtle {
  @apply text-content-10 decoration-content-40/20 hover:decoration-primary hover:bg-primary/4 underline decoration-[1.5px] underline-offset-3 transition-colors;
}

@utility link-ghost {
  @apply text-content-30 hover:text-content-10 hover:decoration-primary hover:bg-primary/4 underline decoration-transparent decoration-[1.5px] underline-offset-3 transition-colors;
}

@utility header-link {
  @apply text-content-40/20 scroll-header group-hover:text-content-40/40 absolute top-0 -left-[1.85em] hidden cursor-pointer bg-transparent capitalize no-underline shadow-none sm:inline-block;
}

/* Elements */

@utility emphasis {
  @apply decoration-content-40/40 decoration-dashed underline-offset-3;
}

@utility list {
  list-style-type: disc;
  padding-inline-start: 1.5em;

  & > li {
    padding-inline-start: 0.45em;
    margin-block: 0.5em;
  }

  & > li::marker {
    font-weight: 400;
    color: var(--color-primary);
  }
}
