/* Colors */

@utility text-tint-* {
  color: color-mix(in oklch, --value(--color-*, [*]), white calc(--modifier(integer) * 1%));
}

@utility text-shade-* {
  color: color-mix(in oklch, --value(--color-*, [*]), black calc(--modifier(integer) * 1%));
}

@utility bg-tint-* {
  background-color: color-mix(
    in oklch,
    --value(--color-*, [*]),
    white calc(--modifier(integer) * 1%)
  );
}

@utility bg-shade-* {
  background-color: color-mix(
    in oklch,
    --value(--color-*, [*]),
    black calc(--modifier(integer) * 1%)
  );
}

@utility border-tint-* {
  border-color: color-mix(in oklch, --value(--color-*, [*]), white calc(--modifier(integer) * 1%));
}

@utility border-shade-* {
  border-color: color-mix(in oklch, --value(--color-*, [*]), black calc(--modifier(integer) * 1%));
}

@utility corner-squircle {
  @supports (corner-shape: squircle) {
    corner-shape: squircle;
  }
}

/* Patterns */

@utility bg-dots {
  background:
    linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
    linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
    --alpha(var(--color-content-40) / 0.25);
  background-size: 16px 16px;

  @variant dark {
    background:
      linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
      linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
      --alpha(var(--color-content-40) / 0.15);
    background-size: 16px 16px;
  }
}

@utility bg-dots-fade {
  background:
    linear-gradient(to bottom, transparent 0%, transparent 20%, var(--color-surface) 40%),
    linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
    linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
    --alpha(var(--color-content-40) / 0.25);
  background-size:
    100% 100%,
    16px 16px,
    16px 16px,
    16px 16px;

  @variant dark {
    background:
      linear-gradient(to bottom, transparent 0%, transparent 20%, var(--color-surface) 40%),
      linear-gradient(90deg, var(--color-surface) 15px, transparent 1%) 50%,
      linear-gradient(var(--color-surface) 15px, transparent 1%) 50%,
      --alpha(var(--color-content-40) / 0.15);
    background-size:
      100% 100%,
      16px 16px,
      16px 16px,
      16px 16px;
  }
}

@utility scroll-header {
  scroll-margin-block: calc(var(--header-height) + 2rem);
}

/* Layout */

@utility wrapper {
  @apply not-print:container w-screen mx-auto not-print:max-w-5xl px-5 sm:px-20 lg:px-24;
}

@utility wide-wrapper {
  @apply container mx-auto px-5 sm:px-20 lg:px-24;
}

@utility breakout {
  @apply relative w-screen left-1/2 right-1/2 -ml-[50vw] -mr-[50vw];
}

/* Links */

@utility link {
  @apply text-content-10 decoration-[1.5px] decoration-primary underline underline-offset-3
    transition-colors hover:decoration-content-30 hover:bg-surface-40/40;
}

@utility link-subtle {
  @apply text-content-10 decoration-[1.5px] decoration-content-40/20 underline underline-offset-3
    transition-colors hover:decoration-primary;
}

@utility link-ghost {
  @apply text-content-30 decoration-[1.5px] decoration-transparent underline underline-offset-3
    transition-colors hover:text-content-10 hover:decoration-primary;
}

@utility header-link {
  @apply hidden sm:inline-block absolute -left-[1.85em] top-0 shadow-none
  text-content-40/20 cursor-pointer no-underline bg-transparent capitalize
  scroll-header group-hover:text-content-40/40;
}
