/* Theming */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark-hover (&:where([data-theme=dark], [data-theme=dark] *):hover:not(:disabled));

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/* Aria variants */
@custom-variant aria-current (&[aria-current="true"], &[aria-current]);

/* Dialog variants */
@custom-variant data-dialog-open (&:where(dialog[open], dialog[open] *));
@custom-variant data-dialog-closed (&:where(dialog:not([open]), dialog:not([open]) *));

/* OS-specific Variants */
@custom-variant linux (&:where([data-os="linux"], [data-os="linux"] *));
@custom-variant macos (&:where([data-os="macos"], [data-os="macos"] *));
@custom-variant windows (&:where([data-os="windows"], [data-os="windows"] *));
@custom-variant android (&:where([data-os="android"], [data-os="android"] *));
@custom-variant ios (&:where([data-os="ios"], [data-os="ios"] *));

/* Scroll state snapped container query */
/* (Remove if added to Tailwind!) */
@custom-variant @snapped {
  @supports (container-type: scroll-state) {
    @container scroll-state(snapped) {
      @slot;
    }
  }
}
