.btn {
  /* TODO: Convert the apply to CSS styles? */
  @apply relative inline-flex flex-nowrap flex-shrink-0 items-center justify-center overflow-hidden whitespace-nowrap
    text-sm transition cursor-pointer align-middle text-center no-underline;

  --btn-border-color: transparent;

  min-width: 64px;
  border-radius: var(--btn-radius);
  border-width: var(--btn-border);
  border-color: var(--btn-border-color);
  font-weight: var(--font-weight-medium);
  height: --spacing(10);
  padding-inline: --spacing(2.5);
  font-size: var(--text-sm);

  &:active {
    box-shadow: none;
  }

  &:active::after {
    opacity: 0;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Size */

.btn-xs {
  height: --spacing(8);
  padding-inline: --spacing(2.5);
  font-size: var(--text-sm);
}

.btn-sm {
  height: --spacing(9);
  padding-inline: --spacing(2.5);
  font-size: var(--text-sm);
}

.btn-md {
  height: --spacing(10);
  padding-inline: --spacing(2.5);
  font-size: var(--text-sm);
}

/* Colors */

.btn-neutral {
  --btn-bg: var(--color-neutral-600);
  --btn-color: var(--color-neutral-50);
}

.btn-primary {
  --btn-bg: var(--color-primary);
  --btn-color: var(--color-primary-contrast);
}

.btn-secondary {
  --btn-bg: var(--color-secondary);
  --btn-color: var(--color-secondary-contrast);
}

.btn-info {
  --btn-bg: var(--color-info);
  --btn-color: var(--color-info-contrast);
}

.btn-success {
  --btn-bg: var(--color-success);
  --btn-color: var(--color-success-contrast);
}

.btn-warning {
  --btn-bg: var(--color-warning);
  --btn-color: var(--color-warning-contrast);
}

.btn-danger {
  --btn-bg: var(--color-danger);
  --btn-color: var(--color-danger-contrast);
}

/* Variants */

.btn-default {
  --btn-inset: color-mix(in oklch, var(--color-neutral-300), #000 5%);

  color: var(--color-neutral-700);
  background-color: var(--color-white);
  border-color: var(--color-neutral-300);
  box-shadow: var(--btn-shadow);

  &:hover:not(:disabled) {
    background-color: --alpha(var(--color-neutral-50) / 0.85);
  }

  &:active {
    background-color: --alpha(var(--color-neutral-200) / 0.4);
  }

  @variant dark {
    --btn-inset: color-mix(in oklch, var(--color-surface-20), #000 40%);

    color: var(--color-neutral-300);
    background-color: --alpha(var(--color-neutral-800) / 0.8);
    border-color: var(--color-neutral-800);
  }

  @variant dark-hover {
    background-color: --alpha(var(--color-neutral-700) / 0.75);
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    padding-bottom: 1px;
    pointer-events: none;
    border-radius: calc(var(--radius-field) - 0.075rem);
    background: linear-gradient(to top, --alpha(var(--btn-inset) / 0.35), transparent);
    mask: linear-gradient(#fff 0 0) content-box exclude, linear-gradient(#fff 0 0);
    transition: opacity var(--default-transition-timing-function) var(--default-transition-duration);
  }
}

.btn-solid {
  --btn-border-color: var(--btn-bg);

  color: var(--btn-color);
  background-color: var(--btn-bg);
  box-shadow: var(--btn-shadow);

  &:hover:not(:disabled) {
    background-color: color-mix(in oklch, var(--btn-bg), #000 6%);
  }

  @variant dark-hover {
    background-color: color-mix(in oklch, var(--btn-bg), #fff 20%);
  }
}

.btn-light {
  --btn-border-color: transparent;

  color: color-mix(in oklch, var(--btn-bg), #000 12%);
  background-color: --alpha(color-mix(in oklch, var(--btn-bg), #000 2%) / 0.075);

  &:hover:not(:disabled) {
    color: color-mix(in oklch, var(--btn-bg), #000 32%);
    background-color: --alpha(color-mix(in oklch, var(--btn-bg), #000 4%) / 0.125);
  }

  @variant dark {
    color: color-mix(in oklch, var(--btn-bg), #fff 8%);
    background-color: --alpha(var(--btn-bg) / 0.1);
  }

  @variant dark-hover {
    color: color-mix(in oklch, var(--btn-bg), #fff 20%);
    background-color: --alpha(color-mix(in oklch, var(--btn-bg), #fff 20%) / 0.125);
  }
}

.btn-outline {
  --btn-border-color: var(--btn-bg);

  color: var(--btn-bg);
  background-color: transparent;
  border-width: var(--btn-border);
  border-style: solid;

  &:hover:not(:disabled) {
    color: color-mix(in oklch, var(--btn-bg), #000 12%);
    background-color: --alpha(color-mix(in oklch, var(--btn-bg), #000 2%) / 0.075);
  }

  @variant dark {
    color: color-mix(in oklch, var(--btn-bg), #fff 8%);
    background-color: --alpha(var(--btn-bg) / 0.1);
  }

  @variant dark-hover {
    color: color-mix(in oklch, var(--btn-bg), #fff 20%);
    background-color: --alpha(color-mix(in oklch, var(--btn-bg), #fff 20%) / 0.125);
  }
}

.btn-ghost {
  --btn-border-color: transparent;

  color: color-mix(in oklch, var(--btn-bg), #000 12%);

  &:hover:not(:disabled) {
    color: color-mix(in oklch, var(--btn-bg), #000 34%);
    background-color: --alpha(color-mix(in oklch, var(--btn-bg), #000 2%) / 0.075);
  }

  @variant dark {
    color: color-mix(in oklch, var(--btn-bg), #fff 8%);
  }

  @variant dark-hover {
    color: color-mix(in oklch, var(--btn-bg), #fff 20%);
    background-color: --alpha(color-mix(in oklch, var(--btn-bg), #fff 20%) / 0.125);
  }
}

.btn-link {
  --btn-border-color: transparent;

  @apply link-subtle;

  padding-inline: 0;
  color: color-mix(in oklch, var(--btn-bg), #000 10%);

  &:hover:not(:disabled) {
    text-decoration-color: var(--btn-underline);
  }

  @variant dark {
    color: color-mix(in oklch, var(--btn-bg), #fff 8%);
  }
}

/* Icon Button */

.btn-icon {
  min-width: auto;
  aspect-ratio: 1 / 1;

  & > span {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
}
