/* ---- Music and Now Playing ---- */

/* Based on https://samuelkraft.com/blog/animated-music-bars */
.now-playing-icon {
  height: 13px;
  width: 13px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.now-playing-icon > span {
  height: 100%;
  width: 3px;
  background-color: theme(colors.emerald.500);
  border-radius: 3px;
  transform-origin: bottom;
  animation: spectrum 2.2s ease infinite alternate;
}

.now-playing-icon > span:nth-of-type(2) {
  animation-delay: -2.2s;
}

.now-playing-icon > span:nth-of-type(3) {
  animation-delay: -3.7s;
}

@keyframes spectrum {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}
