/* ---- Navbar ---- */

.navbar-link {
  @apply relative text-sm font-medium capitalize rounded-sm transition duration-300
  text-secondary-600 hover:text-secondary-800
  focus:outline-none focus-visible:text-secondary-800 focus-visible:ring-2
  focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-surface-light;
}

.navbar-link {
  @apply focus-visible:ring-offset-[3px];
}

.navbar-link::before,
.navbar-link::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  width: 16px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: theme(colors.secondary.500);
  pointer-events: none;
}

.navbar-link::before {
  content: "";
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.navbar-link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.navbar-link[aria-current="true"] {
  @apply text-secondary-800 focus-visible:text-primary-900;
}

.navbar-link[aria-current="true"]::before,
.navbar-link[aria-current="true"]::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  width: 16px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: theme(colors.primary.DEFAULT);
  pointer-events: none;
}
